$theme_color: 		#2BA854;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/'; 
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #2BA854;
$brand-primary:  #2BA854;